.carousel {
  position: relative;
  width: 100%;
  height: 660px;
  overflow: hidden;
  cursor: pointer;
  margin-top: 80px;
}

.carousel .slide {
  width: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 0;
}

.active {
  opacity: 1;
  z-index: 1;
}

.image {
  object-fit: cover;
}

.textGroup {
  display: flex;
  flex-direction: column;
}

.textOverlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: rgb(54, 54, 54);
  z-index: 2;
}

.textOverlay p {
  margin: 10px 0;
  font-size: 1.5rem;
  color: rgb(90, 88, 88);
}

.textOverlay h1 {
  font-size: 3rem;
  margin: 10px 0;
  color: rgb(39, 37, 37) 50%;
}

/*estilizando os textos individualmente dentro da capa*/

.slideText1,
.slideText3 {
  position: absolute;
  color: rgb(39, 37, 37);
  transform: translateY(-50%);
  left: 10%;
  top: 50%;
  width: 210px;
  text-align: left;
}

.slideText2,
.slideText4 {
  position: absolute;
  color: rgb(39, 37, 37);
  transform: translateY(-50%);
  right: 10%;
  top: 50%;
  width: 210px;
  text-align: right;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  height: 36px;
  align-items: center;
  aspect-ratio: 1/1;
}

.prev:hover,
.next:hover {
  background: rgba(0, 0, 0, 0.7);
}

.prev {
  left: 40px;
}

.next {
  right: 40px;
}
